<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-lg"> -->
<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #f7f7f7"
>
  <!-- Navbar content -->

  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <!-- logo -->
      <img
        src="/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-top"
      />
      For Hire
    </a>

    <!-- search input field -->
    <form class="d-flex justify-content-center">
      <input
        class="form-control mr-2 col-md-12 input-space"
        type="search"
        placeholder="Search job opportunities..."
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <!-- if logged in -->
    <div *ngIf="loggedIn()">
      <ul class="nav justify-content-end">
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/home']" class="mr-4"
            ><i class="fa fa-bullseye"></i
          ></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/notifications']" class="mr-4"
            ><i class="fa fa-bell"></i
          ></a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/messages']" class="mr-4"
            ><i class="fa fa-comments"></i
          ></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/jobs-applied']" class="mr-4"
            ><i class="fa fa-archive"></i
          ></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

        <!-- profile dropdown -->
        <div class="dropdown">
          <button class="dropdown-toggle">
            <i class="fa fa-user"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fa fa-user"></i>Edit Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fa fa-cog"></i>Settings</a
              >
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fa fa-sign-out-alt"></i>Sign Out</a
              >
            </li>
          </ul>
        </div>
      </ul>
    </div>

    <!-- if not logged in  -->
    <ul *ngIf="!loggedIn()" class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          [routerLink]="['/signup']"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
