<div class="container-fluid mt-4">
  <h3 class="mb-4 text-center">Search opportunities:</h3>
  <div class="card text-center w-50 mx-auto shadow">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Browse All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Saved</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Search results:</h5>
      <p class="card-text">count results, sort by, recommended...</p>
      <div class="card tl shadow">
        <div class="row no-gutters">
          <div class="col-md-1">
            <img src="..." class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body tl">
              <h5 class="card-title"><a href="#">JOB TITLE</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              </p>
            </div>
          </div>
        </div>
        <!-- add footer options -->
        <div class="card-footer border-secondary text-right">
          <a href="#"><i class="fa fa-thumb-tack mr-2"></i>Save</a>
          <a href="#"><i class="fa fa-times-circle-o ml-4 mr-2"></i>Hide</a>
        </div>
      </div>
    </div>

    <div class="card-body tl">
      <div class="card tl shadow">
        <div class="row no-gutters">
          <div class="col-md-1">
            <img src="..." class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body tl">
              <h5 class="card-title"><a href="#">JOB TITLE</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              </p>
            </div>
          </div>
        </div>
        <!-- add footer options -->
        <div class="card-footer border-secondary text-right">
          <a href="#"><i class="fa fa-thumb-tack mr-2"></i>Save</a>
          <a href="#"><i class="fa fa-times-circle-o ml-4 mr-2"></i>Hide</a>
        </div>
      </div>
    </div>
  </div>
</div>
